.cross {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}